name: Deploy Portfolio V2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Build Vite project
      - name: Build project
        run: npm run build
      # testing again
      # Sync dist folder to S3
      - name: Deploy to S3
        run: |
          aws s3 sync dist s3://ahadk.com \
          --delete \
          --cache-control "no-cache"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_REGION: us-east-1

      # Invalidate CloudFront cache
      - name: Invalidate CloudFront
        run: |
            aws cloudfront create-invalidation \
            --distribution-id E20RKY49H6KE5B \
            --paths "/*"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_REGION: us-east-1